<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find rover_description)/urdf/sensors/sensors.urdf.xacro"/>

<xacro:macro name="imu" params="parent_link prefix x y z">

  <link name="${prefix}_imu_link"/>
  <joint name="${prefix}_imu_joint" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${prefix}_imu_link"/>
    <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
  </joint>

  <xacro:imu_sensor prefix="${prefix}"/>

</xacro:macro>

</robot>